.loading-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #a9aeaf;
    opacity: 0.5;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
